main {
    padding: 0vh 0;
}


@media (max-width: 1024px) {
    main {
        padding: 0vh 3.6vw;
    }
}

@media (max-width: 768px) {
    main {
        padding: 0 7vw;
    }
}

@media (max-width: 425px) {
    main {
        padding: 0 18vw;
    }
}

@media (max-width: 375px) {
    main {
        padding: 0 12vw;
    }
}

@media (max-width: 320px) {
    main {
        padding: 0 5vw;
    }
}
