* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html, body {
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

#root {
  margin: 0 !important;
  box-sizing: border-box;
  height: 100%;
  padding-top: 1rem;
}




html {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}


body {
  font-size: 1rem;
  line-height: 1.6;
  color: var(--white-color);
  background-color: var(--base-gray);
  overflow: scroll;
}


:root {
  --base-gray: #222831;
  --gray-color: #393E46;
  --blue-color: rgba(211, 84, 36);
  --white-color: #EEEEEE;
  --box-shadow: 0px 4px 6px rgba(211, 84, 36, 0.3);;
}


body::-webkit-scrollbar {
  width: 0 !important;
  height: 0 !important;
}

body {
  scrollbar-width: none !important;
}

body {
  -ms-overflow-style: none !important;
}
