@import url(../../styles/base.css);

p {
    color: white;
}

a {
    color: orange;
}
.a2 {
  cursor: pointer;
}

.a2:hover {
  color: #815002;
}

.form-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  margin: 20px auto;
  transform: translate(-50%, -55%);
  background: rgba(0,0,0,.9);
  background-color: #1c1a19;
  box-sizing: border-box;
  box-shadow: var(--box-shadow);
  border-radius: 10px;
}
.form-box p:last-child{
  margin-top: 1em;
}

.form-box p:first-child {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 1px;
}

.form-box .user-box {
  position: relative;
}

.form-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.form-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}
.label {
  color: white;
}


.form-box .user-box input:focus ~ label,
.form-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #fff;
  font-size: 12px;
}

/* Button animation */
.form-box form button {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  font-weight: bold;
  color: orange;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 3px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.form-box form button:hover {
  background: #FFA500;
  color: #272727;
  border-radius: 5px;
}

.form-box button span {
  position: absolute;
  display: block;
}

.form-box button span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #FFA500);
  animation: btn-anim1 1.5s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }

  50%,100% {
    left: 100%;
  }
}

.form-box button span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #FFA500);
  animation: btn-anim2 1.5s linear infinite;
  animation-delay: .375s;
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }

  50%,100% {
    top: 100%;
  }
}

.form-box button span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #FFA500);
  animation: btn-anim3 1.5s linear infinite;
  animation-delay: .75s;
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }

  50%,100% {
    right: 100%;
  }
}

.form-box button span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #FFA500);
  animation: btn-anim4 1.5s linear infinite;
  animation-delay: 1.125s;
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }

  50%,100% {
    bottom: 100%;
  }
}

.custom-file-upload {
  display: inline-block;
  background-color: transparent;
  color: #FFA500;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: 2px solid transparent;
  position: relative;
  font-size: 14px;
  font-weight: bold;
  overflow: hidden;
}

.custom-file-upload:hover {
  background-color: #FFA500;
  color: #1c1a19;
}





.image-preview {
  margin: 1rem 0;
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.file-upload-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}
.form-box .user-box textarea {
  width: 100%;
  height: 100px;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
  resize: none;
  box-sizing: border-box;
}

.form-box .user-box textarea:focus ~ label,
.form-box .user-box textarea:valid ~ label {
  top: -20px;
  left: 0;
  color: #fff;
  font-size: 12px;
}

.disabled-button {
  background-color: #ccc !important;
  color: #666 !important;
  cursor: not-allowed;
  pointer-events: none;
}



input:-webkit-autofill {
  background-color: transparent !important;
  -webkit-text-fill-color: #fff !important;
  border-bottom: 1px solid #fff !important;
  transition: background-color 5000s ease-in-out 0s;
}


input:-moz-autofill {
  background-color: transparent !important;
  color: #fff !important;
  border-bottom: 1px solid #fff !important;
}

input:-ms-autofill {
  background-color: transparent !important;
  color: #fff !important;
  border-bottom: 1px solid #fff !important;
}

