@import "../../styles/base.css";
.navbar {
    background-color: #393E46FF;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    backdrop-filter: blur(10px);
    width: 90%;
}

