@import "../../styles/base.css";

.footer {
  background-color: var(--gray-color);
  color: #fff;
  padding: 1.8rem 0;
  text-align: center;
  align-items: center;
  margin-top: auto;
  box-shadow: 0 -2px 5px rgba(211, 84, 36, 0.1);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.copyright {
  font-size: 1rem;
}

.navLinks .link {
  margin: 0 0.5rem;
  line-height: 1;
}

.link:hover {
  color: #f4b400;
}

.link {
  font-size: 1rem;
  text-decoration: none;
  color: #fff;
}

.navLinks, .copyright, .container {
  margin-bottom: 1.4rem;
}
.footerSpacer{
  margin-top: 5rem;
}